<style type="text/css">
    a{
        position: absolute;
        margin-top: 1.4%;
    }
    .container-btnComeBack{
        background-color: #00633d;
        border-radius: 10px;
        padding: 0.4%;
        margin-left: 10px;
    }
    .btnComeBack{
        width: 180px;
    }
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    h1{
        color:  #004a9e;
    }
    .conteiner-form{
        display: flex;
        width: 55vw;
        flex-direction: column;
    }
    .form{
        display: flex;
        flex-direction: column; 
    }
    .titles{
        font-size: 20px;
        font-weight: bold;
        color: #0658b6;
    }
    textarea{
        resize: none;
        font-size: 15px;
        border-radius: 10px;
        padding: 1%;
    }
    .container-buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .btn{
        width: 20vw;
        font-size: 18px;
        align-self: center;
        margin-top: 20px;
    }
</style>

<main>
    <a class="container-btnComeBack" href="/"><button class="btnComeBack">Voltar para Lista de Anotações</button></a>
    <div class="container">
        {{#if notes}}
            <h1>EDITE AQUI SUA ANOTAÇÃO:</h1>
        {{else}}
            <h1>ADICIONE AQUI SUA ANOTAÇÃO:</h1>
        {{/if}}
        <div class="conteiner-form">
            {{#if notes}}
                <form action="/update/{{notes.dataValues.id}}" method="POST" class="form">
            {{else}}
                <form action="/add" method="POST" class="form">
            {{/if}}
                <p class="titles">Título: </p>
                <input type="text" name="titulo" value="{{notes.dataValues.titulo}}">

                <p class="titles">Conteúdo: </p>
                <textarea 
                    name="conteudo" 
                    rows="15" cols="" 
                    placeholder="Digite aqui sua anotação."
                >{{notes.dataValues.conteudo}}</textarea>
                <div class="container-buttons">
                    
                    {{#if notes}}
                    
                        <button 
                            type="submit" 
                            class="btn btnEdit"
                        >Salvar Edições</button>
                        

                    {{else}}
                         <button 
                            type="submit" 
                            class="btn btnAdd"  
                        >Adicionar Anotação</button>
                    {{/if}}
                </div>
            </form> 
        </div>
    </div>
</main>   

{{!-- GET: Envia os dados pela URL (Baixa segurança) --}}
